.container {

    .form {

        max-width: 1000px;
        margin: auto;
        margin-top: 150px;

        .row {

            margin: auto;

            .col-4 {
                
                width: 300px;

            }

        }

    }

}